* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }

  .add-button{
    position:absolute;
    visibility: hidden;
  }

  .task-list{
    position:absolute;
    visibility: hidden;
  }
  
  
  header {
    background: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .back-link {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .back-link:hover {
    opacity: 0.8;
  }
  
  h1 {
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
    background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="date"],
  select {
    appearance: none;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  select {
    padding-right: 32px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .save-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .save-button:hover {
    opacity: 0.8;
  }

  a, u {
    text-decoration: none;
  }